/* resetting global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

li {
  list-style: none;
}

/*******************/

body {
  background-color: rgb(32, 32, 43);
  color: rgb(250, 250, 250);
}

/** layout **/
.global-container {
  display: block;
  margin: auto;
  max-width: 60rem;
  width: 100%;
  padding: 0.5em 1em;
}

.header {
  font-weight: bold;
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

#content {
  margin-top: 2em;
}

#intro {
  font-size: 1.1em;
  max-width: 70ch;
  line-height: 1.6em;
  margin: 1.2em 0em;
}

/** card **/

.card-wrapper {
  background: rgba(139, 137, 137, 0.119);
  color: rgb(191, 191, 206);
  padding: 1em;
  width: 100%;
}

.card-wrapper h2 {
  margin-bottom: 1em;
}

.card-wrapper li {
  margin: 1em;
}

.card-wrapper {
  border-radius: 5px;
  border: 3px solid rgb(53, 193, 236);
}

.card-section {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}


/** landing **/
#landing {
  grid-template-columns: 100%;
  place-items: center;
  display: grid;
}

#logo {
  transition: 1s ease-in-out;
  width: 50%;
}

img {
  border-radius: 5px;
}

/** utilities **/

.current {
  position: relative;
}

.current::after {
  transition: background-color 0.2s ease-in-out;
  background: white;
  position: absolute;
  bottom: -0.2em;
  height: 0.1em;
  content: "";
  width: 100%;
  left: 0;
}

.current:hover::after {
  background: #d4e815;
}

@media screen and (min-width: 900px) {
  #landing {
    gap: 5em;
    padding: 0em 2em;
    grid-template-columns: 70% 30%;
  }

  #logo {
    transition: 1s ease-in-out;
    width: 90%;
    transform: translate(30px);
  }

  #logo:hover {
    transform: translate(40px, -10px);
  }
  .card-wrapper {
    flex-wrap: nowrap;
    width: 50%;
  }

  .card-section {
    flex-wrap: nowrap;
  }

  .right-card {
    transform: translateY(2em);
  }
}

#footer {
    margin-top: 8em;
    padding: 1em;
    text-align: center;
    color:rgb(174, 174, 244);

    border-top : 2px rgb(237, 229, 80) solid;
    width: fit-content;
}